@charset "UTF-8";
/* CSS Document */

p.MsoNormal {
margin:0in;
margin-bottom:.0001pt;
font-size:12.0pt;
font-family:Cambria;
}
p.paragraph {
margin-top:0in;
margin-right:0in;
margin-bottom:8.0pt;
margin-left:0in;
font-size:11.0pt;
font-family:Cambria;
}
p.LiteralText {
margin:0in;
margin-bottom:.0001pt;
font-size:10.0pt;
font-family:Helvetica;
}
p.Note {
margin-top:0in;
margin-right:0in;
margin-bottom:8.0pt;
margin-left:0in;
font-size:11.0pt;
font-family:Cambria;
font-style:italic;
}
span.MsoHyperlink {
font-family:"Times New Roman";
color:blue;
text-decoration:underline;
text-underline:single;
}.LiteralText {
	font-family: Courier New, Courier, monospace;
}
.LiteralText {
	font-family: Courier New, Courier, monospace;
}
